In [2]:
import pandas as pd 
import numpy as np

In [36]:
a=([[1,2,3],[4,5,6],[7,8,9]])
a=pd.Series(a)
c=[item for sublist in a  for item in sublist]
print(c)
b=pd.Series(c)
print("original:",a)
print("after:",b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
original: 0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object
after: 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [37]:
a=([100,200,300,400,500])
a=pd.Series(a)
print(a)
subset=a[a>=300]
subset2=a[a<=200]
print(subset)
print(subset2)

0    100
1    200
2    300
3    400
4    500
dtype: int64
2    300
3    400
4    500
dtype: int64
0    100
1    200
dtype: int64

In [23]:
a=([1,1,2,3,3,3,4,4])
a=pd.Series(a)
a.value_counts()
a[~a.isin(a.value_counts(). index[   :1])]='other'
print("after replacing: ",a)

after replacing:  0    other
1    other
2    other
3        3
4        3
5        3
6    other
7    other
dtype: object

In [24]:
a=[1,2,5,10,15,18,36]
a=pd.Series(a)
subset=a[a%5==0]
print(subset)

2     5
3    10
4    15
dtype: int64

In [3]:
a=['venkatesh','sai','arun']
a=pd.Series(a)
subset=a.apply(lambda i : len(i))
print(subset)

0    9
1    3
2    4
dtype: int64

In [47]:
a={'year_month':['2013-01','2023-04','2023-12']}
a=pd.DataFrame(a)
date=20
a['Date']=pd.to_datetime(a['year_month'] + '-' + str(date), format='%Y-%m-%d')
print(a)

  year_month       Date
0    2013-01 2013-01-20
1    2023-04 2023-04-20
2    2023-12 2023-12-20

In [57]:
a={'Name':['venky','arun','sai'],
  'Age':[25,30,45],
  'College':['srm','vit','srm']}
ilabels = ['Person1', 'Person2', 'Person3']
df11 = pd.DataFrame(a, index=ilabels)
print(df11)

          Name  Age College
Person1  venky   25     srm
Person2   arun   30     vit
Person3    sai   45     srm

In [61]:
a={'Name':['venky','arun','sai'],
  'Attempt':[2,3,4],
  }
a=pd.DataFrame(a)
print(a[a['Attempt']>=2])

    Name  Attempt
0  venky        2
1   arun        3
2    sai        4

In [69]:
a={
    'Name':['sai','venky','Arun'],
    'section':['o','e','c']
}
index_labels = ['Student1', 'Student2','Student3']
a=pd.DataFrame(a,index=index_labels)
b = {
  "Name": ['ameen','lohith'],
  "section": ['f', 'j']
}
c=pd.DataFrame(b,index=['Student4','Student5'])
a=a.append(c)
print(a)

a=a.drop('Student4')
a.drop('Student5')
print(a)

            Name section
Student1     sai       o
Student2   venky       e
Student3    Arun       c
Student4   ameen       f
Student5  lohith       j
            Name section
Student1     sai       o
Student2   venky       e
Student3    Arun       c
Student5  lohith       j

C:\Users\venka\AppData\Local\Temp\ipykernel_40640\3511622195.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a=a.append(c)

In [72]:
a={
    'name':['venky','sai','arun'],
    'score': [23,22,24]
}
a=pd.DataFrame(a)
b = a.sort_values(by='score',ascending=True)
print(b)
c=a.sort_values(by='name',ascending=False)
print(c)

    name  score
1    sai     22
0  venky     23
2   arun     24
    name  score
0  venky     23
1    sai     22
2   arun     24

In [74]:
a={
    'candidate':['venky','arun','sai'],
    'qualify':['Yes','No','No']
}
a=pd.DataFrame(a)
a=a.replace('Yes',True)
print(a)
a=a.replace('No',False)
print(a)

  candidate qualify
0     venky    True
1      arun      No
2       sai      No
  candidate  qualify
0     venky     True
1      arun    False
2       sai    False

In [75]:
a = {'C1': [1, 2, 3, np.inf, 5],
        'C2': [np.inf, 2, 3, 4, 5],
        'C3': [1, 2, 3, 4, 5]}
a = pd.DataFrame(a)
a.replace([np.inf, -np.inf], np.nan, inplace=True)
a.dropna(inplace=True)
print("DataFrame after removing infinite values:")
print(a)

DataFrame after removing infinite values:
    C1   C2  C3
1  2.0  2.0   2
2  3.0  3.0   3
4  5.0  5.0   5